<section class="content">
  <div class="container mt-4">
    <div class="card">
      <h5 class="card-header">Nome do roteiro</h5>
      <div class="card-body">
        <h5 class="card-title">Valor: R$ 14.300,90</h5>
        <p class="card-text">Rotas</p>

        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Maldivas</li>
            <li class="list-group-item">Roma</li>
            <li class="list-group-item">Argentina</li>
          </ul>
        </div>

        <div class="buttons-area d-flex">
          <a href="#" class="btn btn-primary mt-3 p-1">Editar</a>
          <a href="#" class="btn btn-danger mt-3 p-1">Excluir</a>
        </div>
      </div>
    </div>
  </div>
</section>