<nav class="nav-bar">
  <div class="transparent-bg d-grid align-content-center">

    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="navbar-brand mb-0 h1 title">
            Viajerando...</h1>
        </div>
        <div class="col user-area">
          <h3 class="px-1" *ngIf="username">Olá, <span>{{ username }}</span></h3>
          <div class="d-flex">
            <h3 class="account px-1">Minha conta</h3>
            <h3 class="px-1" (click)="exit()">Sair</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<nav class="sub-navbar d-grid align-content-center text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm" (click)="roadmapList()">
        Listar Destinos
      </div>
      <div class="col-sm" (click)="myDestinations()">
        Meus Roteiros
      </div>
      <div class="col-sm" (click)="newRoadmap()">
        Novo Roteiro
      </div>
    </div>
  </div>
</nav>

<section>
  <router-outlet></router-outlet>
</section>