@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.form-bg {
  background-color: rgba(0, 0, 0, 0.527);
  padding: 2rem;
  border-radius: 1.2rem;
}

label, button {
  font-weight: 500;
}

.cpf-tel-area {
  width: 100%;
  display: flex;

  div {
    width: 50%;
  }

  .cpf-area {
    padding-right: 4px;
  }

  .tel-area {
    padding-left: 4px;
  }
}

button:hover {
  transform: scale(1.015);
}

.buttons-area {
  width: 100%;
  display: flex;
  .btn-login {
    width: 50%;
    background-color: rgb(33, 175, 241);
    color: #FFF;
    margin-right: 4px;
  }

  .btn-register {
    width: 50%;
    background-color: rgb(255, 136, 0);
    color: #FFF;
    margin-left: 4px;
  }
}