@import '../../../../styles.scss';

.nav-bar {
  height: 170px;
  // background: $gunmetal-theme;

  background-image: url("../../../../assets/img/praia-viajerando-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .transparent-bg {
    background-color: rgba(0, 0, 0, 0.281);
    height: 170px;
  }

  .title {
    font-family: $title-font;
    font-size: 70px;
    color: rgba(235, 235, 235, 0.815);
    cursor: pointer;
  }

  border-bottom: solid 3px #FFF;
  color: #FFF;

  h3 {
    font-size: 14px;
    cursor: pointer;
  }

  h3:hover {
    color: rgba(255, 255, 255, 0.753);
  }

  .user-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .account {
      border-right: solid 2px #FFF;
    }
  }
}

.sub-navbar {
  height: 50px;
  background: $carrot-orange-theme;
  color: #FFF;
  font-weight: 600;

  .row {
    div {
      height: 50px;
      display: grid;
      align-content: center;
      cursor: pointer;
    }

    div:hover {
      transition: calc(0.5s);
      background: $dark-carrot-orange-theme;
      transform: scale(1.04);
    }
  }
}

section {
  height: calc(100vh - 220px);
}