<div class="container new-roadmap-area">
  <form class="form-area">
    <div class="form-group">
      <label for="inputRoadmapNamel">Nome do roteiro</label>
      <input type="text" class="form-control" id=""  placeholder="Enter email">
    </div>


    <div>
      <label for="" class="mt-3">Selecione os destinos</label>

      <div class="mt-2">

        <div class="form-check mt-1">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Maldivas - R$3.480,00</label>
        </div>

        <div class="form-check mt-1">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Dubai - R$7.990,00</label>
        </div>

        <div class="form-check mt-1">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Roma - R$4.990,00</label>
        </div>

      </div>

    </div>

    <div class="d-flex justify-content-end">
      <h4 class="px-1">Preço total:</h4>
      <h4 class="px-1">{{ 3480 + 7990 + 4990 | currency:'R$'}}</h4>
    </div>


    <button type="submit" class="btn btn-primary mt-3 w-100">Criar</button>
  </form>
</div>