<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="navbar-brand mb-0 h1">Viajerando</h1>
      </div>
      <div class="col">
        <h3>Olá <span>usuario</span></h3>
        <div class="d-grid ">
          <h3>Minha conta</h3>
          <h3>Sair</h3>
        </div>
      </div>
    </div>
  </div>
</nav>
<nav class="sub-navbar d-grid align-content-center">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        Listar Destinos
      </div>
      <div class="col-sm">
        Meus Roteiros
      </div>
      <div class="col-sm">
        Novo Roteiro
      </div>
    </div>
  </div>
</nav>
